/* Enhanced styles for accessibility */
:root {
    --font-size-normal: 1rem;
    --font-size-large: 1.25rem;
  }
  
  html {
    font-size: 100%; /* 16px */
  }
  
  body {
    font-size: var(--font-size-normal);
  }
  
  @media screen and (min-width: 768px) {
    html {
      font-size: 112.5%; /* 18px */
    }
  
    body {
      font-size: var(--font-size-large);
    }
  }
  
  /* High contrast mode */
  @media (prefers-contrast: high) {
    body {
      background-color: black;
      color: white;
    }
  
    .main-header,
    .main-footer {
      color: black;
      background-color: yellow;
    }
  }