.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.App-header {
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}